.underline { text-decoration: underline; }
.DETERMINATION, .attack { color: #f00; }
.KINDNESS, .health { color: #00c000; }
.JUSTICE, .damage { color: #ff0; }
.PERSEVERANCE, .poison { color: #d535d9; }
.PATIENCE { color: #41fcff; }
.BRAVERY { color: #fca500; }
.INTEGRITY { color: #003bff; }

.selectable { cursor: pointer; }
.selectable.active { font-weight: bold; text-decoration: underline; }
